{% extends 'dashboard_base.html' %}

{% block title %}
    dashborad
{% endblock %}

{% block body %}
<div class="container mt-3">
    

<h2>All Switches</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Hostname</th>
      <th scope="col">IP</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for switch in switches %}
    <tr>
      <td>{{switch.hostname}}</td>
      <td>{{switch.ip}}</td>
      <td>{{switch.switchType}}</td>
      <td>
        DELETE
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>

</div>
{% endblock %}