{% extends 'base.html' %}
{% block title %}
    login
{% endblock %}
{% block body %}
<div class="container mt-3">

    <h2 class="text-primary text-center">Login page</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            {{ form.username(class_='form-control') }}
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            
            {{ form.password(class_='form-control') }}
          </div>
        {{ form.submit(class_='btn btn-primary') }}
    </form>
      
      
        
    
    <p>Don't have an account? <a href="/register">Sign up</a></p>
</div>
{% endblock %}